*{
    box-sizing: border-box;
}
html{
    font-size:63%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: rgb(3, 3, 3);
    margin: 0;
   
}
h1,h2,h3,h4,h5,h6 {
    font-family:"poppins", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1;
}
h1,
.h1{
    font-size: 3.1rem;
}
h2,
.h2{
    font-size: 2.8rem;
    text-transform: uppercase;
}
h3,
.h3{
    font-size: 2.1rem;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    margin-bottom: 1rem;
}
.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;

}
.category{
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: #969607;
}
.container{
    padding: 3rem 2rem;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid{
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.grid__item{
    flex-grow: 1;
    flex-shrink: 0;
    width:100%;
    padding: 1rem;
}
@media screen and (min-width:750px) {
    .container{
     max-width: 1500px;
     padding: 5rem;
    
    }  
}
.section{
    padding: 5.5rem 0;
}
.section-title{
    margin-top: 0;
    font-size: 3.8rem;
}
.section-header{
    text-align: center;
}
@media screen and (min-width:750px) {
    .section-title{
        font-size: 4.8rem;
}
}
.header{
    
    background-color: rgb(81, 18, 230);
    border-bottom: 1px solid rgb(0, 0, 0);
    position: sticky;
    top:0;
    z-index: 1;
}
.header .logo{
   font-family:"poppins", sans-serif;
    font-size: 5rem;
   letter-spacing: 0px;

}

.header li {
    display:inline-flex;
    align-items: center;
    padding: 0 5px;
}
.header a {
    color: #333;

}
.header a:hover{ 
    color: #ffff;

}
.header .right {
    display: flex;
    align-items: center;
}
.socials {
    display: flex;
}
.socials li {
   margin-bottom: 0;
}
.socials a{
    padding: 0 2px;
}
.socials .icon {
height:18px;

}
.burger{
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
}
.burger .bar {
    display: block;
    width: 50px;
    height: 3px;
    background-color: rgb(163, 12, 12);
}
.burger .bar::before .burger .bar::after{
    display: block;
    content: "";
    width: 22px;
    height: 3px;
    background: #333;
    position: absolute;
    top:0;

}
.burger .bar::before{
    transform: translateY(8px);
}
.burger .bar::after{
    transform: translateX(8px);

}
@media screen and (min-width:750px) {
    .navabar{
        display: none;
    }
    .burger{
        display: none;
    }

}
.hero{
 background :#ffff;
 color: rgb(7, 7, 7);
 padding: 1rem 0 0 0 ;

}
.hero .title{
     color: inherit;
    font-size: 5rem;
}
.hero__item span{
    text-transform: uppercase;
}
.hero__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

@media screen and (max-width:749px){
    .hero__item.left{
        order:2;
    }
    .hero__item.right{
        order:1;
    }
}

@media screen and (min-width:750px) {
    .hero__item{
        flex:1 0 50%;
        text-align: left;
    }
    .hero__item.left{
        align-items: flex-start;
    }
    .hero__avatar img {
       max-width: 400p;
        border-radius: 50% ;
    }
}
.about .section-title{
    margin-top: 2.8rem;
    text-align: center;
}
.about .P{
    text-align: center;
}
@media screen and (min-width:750px) {
    .about img{
     padding-right: 3rem;
   }
}
.services{
    background-color: blue;

}
.service__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 2px solid #f5f45f;
    border-radius: 50%;
}
.service__icon svg{
    height: 35px;
}
.service__content{
    flex:1;
}
.service h3{
    margin-bottom: 0;
}
@media screen and (max-width:749px) {
    .service{
    text-align: center;
    }
    .service__icon{
     margin: 0;
}
}

@media screen and (min-width:750px) {
    .service{
        display: flex;
        align-items: center;
       }
    .service__icon{
        margin-right:2rem;
       }
   }
.skills h4, .skills p {
    margin:0 0.3rem 0;
}
.skills li {
    background-color: #b1aeaef5;
    border-left:3px solid rgb(7, 7, 7);
    padding: 6rem 2rem ;    
}
.skills .progressbar{
    background-color: #f5f5f5f5;
    color: rgb(12, 12, 12);
    margin-bottom: 1rem;
}
.skills .bar{
    background-color: rgb(107, 104, 104);
    padding: 1rem;
}
.portfolio{
    background-color: #b1aeaef5;

}
.portfolio .grid__item {
    max-width:50%;
}

.portfolio-filters .grid__item {
    max-width: 50%;
    margin-bottom: 0;
}

.portfolio-filters a{
    color: #000;
    background-color: aliceblue;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
}
.portfolio-filters a.active {
    color: #333;   
    background: rgb(247, 245, 245);
    
}


@media screen and (min-width:750px) {
    .portfolio  a {
        font-size: 1.4rem;
       
    }
 }
@media screen and (min-width:750px) {
    .portfolio-filters .grid__item{
        max-width: 25%;
       
    }
    .portfolio .grid__item {
        max-width:33%;
    }
 }
 .card{
    background: #f5f5f5;
    text-transform: uppercase;
    position: relative;

}
.card__inner{
    padding: 1rem;
}
.card__title{
    margin: 0 0 1rem ;  
    font-size: 1.6rem;
}
.card__overlay{
    background-color: rgb(0, 0, 0,0.8);
    position: absolute;
    top:0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.card__overlay a{
    font-size: 4.5rem;  
    color: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
.form {
    margin-top: 2rem;

}
.form input , .form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;

}
.form textarea{
    min-height: 300px;
}
.form .btn{
    border: none;
    background-color: rgb(75, 74, 74);
    color: #f5f5f5;
    width: auto;
    min-width: 160px;
    font-size: 2rem;
    text-transform: uppercase;

}
.form .btn:hover{
    cursor: pointer;
    background-color: #000;
}

footer{
    background: rgb(110, 109, 109);
    color: #000000;
    text-align: center;
    font-size: 1.4rem;

}
footer p{ 
    margin: 0;

}
@media screen and (min-width:750px) {
    footer{
        text-align: left;
    }
    footer .grid__item{
        max-width: 33%;
    }
 }




       